.maintainer-dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: darkred;
}

.user-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: left;
}

.user-table th {
  background-color: #f4f4f4;
}

.user-table td button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-table td button:hover {
  background-color: #4a90e3;
}

.ReactModal__Content {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
  margin: auto;
  height: 400px;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  margin-top: 0;
}